<!DOCTYPE html>

<html lang="vi">
  <head>
    {% load static %}
    <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      /* CSS để tùy chỉnh cửa sổ phụ */
      #popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid black;
        width: 60%;
      }
    </style>

		<!-- Create title -->
		<title>DetectDrone</title>
		<!-- Create icon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'detection/images/icon.png' %}">
    <!-- Create style -->
    <link rel = "stylesheet" href="{% static 'detection/source/style.css' %}">
    <!-- Create javascript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <script language="javascript" src="{% static 'detection/source/jquery.min.js' %}"></script>
    <script language="javascript" src="{% static 'detection/source/coordinate.js' %}"></script>
    <script language="javascript" src="{% static 'detection/source/video.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  </head>
  <!-- <head>
    <style>
      .menu-bar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
  
      .menu-bar li {
        margin-right: 10px;
      }
  
      .menu-bar a {
        text-decoration: none;
        color: black;
      }
    </style>
  </head> -->
  <body>
    <!-- <div class="menu-container">
      <div class="menu-bar">
        <ul>
          <li><a href="#">Menu Item 1</a></li>
          <li><a href="#">Menu Item 2</a></li>
          <li><a href="#">Menu Item 3</a></li>
        </ul>
      </div>
    </div> -->

    <script>
      // Hàm mở cửa sổ phụ
      function openPopup() {
        document.getElementById("popup").style.display = "block";
      }
  
      // Hàm đóng cửa sổ phụ
      function closePopup() {
        document.getElementById("popup").style.display = "none";
      }
    </script>

    <h1 class="h1_page">DRONE DETECTION</h1>

    <table class = "table-container">
      <tr>
        <td style="width:50%">
          <div class="video-frame">
              <img id="stream-image-1" src="{% static 'detection/images/no_image_available.jpg' %}" alt="Live Stream 1" width="640" height="360">
              <div class="ip-input">
                  <label for="camera1-ip">Camera 1 IP:</label>
                  <input type="text" id="camera1-ip" value="192.168.0.96">
                  <input type="submit" value="Submit" onclick="handleSubmit1()">
              </div>
          </div>
        </td>
        <td>
          <div class="video-frame">
              <img id="stream-image-2" src="{% static 'detection/images/no_image_available.jpg' %}" alt="Live Stream 2" width="640" height="360">
              <div class="ip-input">
                  <label for="camera2-ip">Camera 2 IP:</label>
                  <input type="text" id="camera2-ip" value="192.168.0.97">
                  <input type="submit" value="Submit" onclick="handleSubmit2()">
              </div>
          </div>
        </td>
      </tr>
    </table>

    <br>
    <table width="100%" style="justify-content: center;" height="40px">
      <tr>
        <td><div id="customAlert"></div></td>
      </tr>
    </table>

    <br>
    <table class="table-coordinate">
      <tr>
        <td width="10%"></td>
        <td class="td-coordinate">
          <p>Tọa độ x</p>
          <div id="coordinate_x"></div>
        </td>
        <td class="td-coordinate">
          <p>Tọa độ y</p>
          <div id="coordinate_y"></div>
        </td>
        <td class="td-coordinate">
          <p>Tọa độ z</p>
          <div id="coordinate_z"></div>
        </td>
        <td width="10%"></td>
      </tr>
    </table>

    <br>
    <table width="100%">
      <tr>
        <td width="20%"></td>
        <td>
          <!-- Nút mở cửa sổ thông số -->
          <button onclick="openPopup()" class="buttom">Thông số</button>
        </td>
        <td>
          <!-- Nút phát tín hiệu nhiễu -->
          <button class="buttom" id="myButton">JAMMING</button>
        </td>
        <td width="20%"></td>
      </tr>
    </table>

    <!-- Cửa sổ phụ -->
    <div id="popup" style="display: none;">
      <h1>Nhập các giá trị</h1>
      <form>
        <table width="100%">
          <tr width="50%">
            <td width="50%">
              <h3> Tọa độ camera 1 </h3><br>
              <label for="x_coordinate_of_camera_1">Tọa độ X: </label>
              <input type="number" id="x_coordinate_of_camera_1" name="x_coordinate_of_camera_1" step="any" value="0" required><span> mm</span><br><br>

              <label for="y_coordinate_of_camera_1">Tọa độ Y: </label>
              <input type="number" id="y_coordinate_of_camera_1" name="y_coordinate_of_camera_1" step="any" value="0" required><span> mm</span><br><br>

              <label for="z_coordinate_of_camera_1">Tọa độ Z: </label>
              <input type="number" id="z_coordinate_of_camera_1" name="z_coordinate_of_camera_1" step="any" value="75" required><span> mm</span><br><br>

              <h3> Góc camera 1 </h3><br>
              <label for="theta_angle_of_camera_1">Góc nâng:</label>
              <input type="number" id="theta_angle_of_camera_1" name="theta_angle_of_camera_1" step="any" value="30" required><span>°</span><br><br>

              <label for="phi_angle_of_camera_1">Góc phương vị:</label>
              <input type="number" id="phi_angle_of_camera_1" name="phi_angle_of_camera_1" style="width: 127px;" step="any" value="63" required><span>°</span><br><br>
            </td>
            <td>
              <h3> Tọa độ camera 2 </h3><br>
              <label for="x_coordinate_of_camera_2">Tọa độ X: </label>
              <input type="number" id="x_coordinate_of_camera_2" name="x_coordinate_of_camera_2" step="any" value="450" required><span> mm</span><br><br>

              <label for="y_coordinate_of_camera_2">Tọa độ Y: </label>
              <input type="number" id="y_coordinate_of_camera_2" name="y_coordinate_of_camera_2" step="any" value="0" required><span> mm</span><br><br>

              <label for="z_coordinate_of_camera_2">Tọa độ Z: </label>
              <input type="number" id="z_coordinate_of_camera_2" name="z_coordinate_of_camera_2" step="any" value="75" required><span> mm</span><br><br>

              <h3> Góc camera 2 </h3><br>
              <label for="theta_angle_of_camera_2">Góc nâng:</label>
              <input type="number" id="theta_angle_of_camera_2" name="theta_angle_of_camera_2" step="any" value="30" required><span>°</span><br><br>

              <label for="phi_angle_of_camera_2">Góc phương vị:</label>
              <input type="number" id="phi_angle_of_camera_2" name="phi_angle_of_camera_2" style="width: 127px;" step="any" value="117" required><span>°</span><br><br>
            </td>
          </tr>
          <tr>
            <td>
              <h3> Tọa độ Jammer </h3><br>
              <label for="x_coordinate_of_jammer">Tọa độ X: </label>
              <input type="number" id="x_coordinate_of_jammer" name="x_coordinate_of_jammer" step="any" value="225" required><span> mm</span><br><br>

              <label for="y_coordinate_of_jammer">Tọa độ Y: </label>
              <input type="number" id="y_coordinate_of_jammer" name="y_coordinate_of_jammer" step="any" value="0" required><span> mm</span><br><br>

              <label for="z_coordinate_of_jammer">Tọa độ Z: </label>
              <input type="number" id="z_coordinate_of_jammer" name="z_coordinate_of_jammer" step="any" value="55" required><span> mm</span><br><br>
              
              <h3> Góc Jammer </h3><br>
              <label for="theta_angle_of_jammer">Góc nâng:</label>
              <input type="number" id="theta_angle_of_jammer" name="theta_angle_of_jammer" step="any" value="0" required><span>°</span><br><br>

              <label for="phi_angle_of_jammer">Góc phương vị:</label>
              <input type="number" id="phi_angle_of_jammer" name="phi_angle_of_jammer" style="width: 127px;" step="any" value="90" required><span>°</span><br><br>
            </td>
            <td>
              <br>
              <label for="threshold_predict">Độ nhạy phát hiện:</label>
              <input type="number" id="threshold_predict" name="threshold_predict" step="any" style="width: 100px;" value="50" required><span>%</span><br>
              <p> Trong khoảng [0,100] </p><br>

              <label for="goc_camera">Góc rộng camera:</label>
              <input type="number" id="goc_camera" name="goc_camera" step="any" style="width: 112px;" value="90" required><span>°</span><br><br>

              <label for="ip_jammer">IP Jammer:</label><br>
              <input type="text" id="ip_jammer" name="ip_jammer" step="any" value="192.168.0.99" required><br><br>
            </td>
          </tr>
        </table>
        <button type="button" onclick="closePopup()">Lưu</button>
      </form>
    </div>
    
  </body>
</html>
